/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin: 0;
    font-size: 24px;
}

form {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-top: 20px;
}

form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

h2 {
    color: #333;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

ul li a:hover {
    text-decoration: underline;
}


.container.login-container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 400px;
}

.login-heading {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin: 0;
    font-size: 24px;
}

.login-form {
    padding: 20px;
}

.login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-submit {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-submit:hover {
    background-color: #0056b3;
}


/* Добавьте этот код в style.css */
.delete-link {
    color: #dc3545;
    text-decoration: none;
    margin-left: 5px;
}

.delete-link:hover {
    text-decoration: underline;
}
/* Добавьте этот код в style.css */
.logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #c82333;
}
